datasets/
doc/prework/
__pycache__/
./src/utils/spec-kit/
output/
local_config.json
local_config.json*
think.md
src/utils/tree-sitter/tree-sitter-c
report.md
spec_agent.md
spec
log/
.vscode
output_gpt*/
output_deepseek*/
.tmp
src/tests